@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

@font-face {
	font-family: "Vazir-Mhd";
	src: url("/assets/fonts/vazir2/Vazir-Bold-FD-WOL.woff2") format("woff2");

	font-weight: 100-900;
	font-style: normal;
	font-display: swap;
}

* {
	direction: rtl;
	font-family: "Vazir-Mhd" !important;
}

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}
/* 
body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
} */
@theme {
	--color-primary: #7c00a0;
	--color-secondry: #8f57dc;
	--color-tertialy: #314158;
}

@font-face {
	font-family: "VazirBold";
	src: url("../../Public/assets/fonts/vazir/Vazir-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

.hevebg {
	background-image: url("../../public/assets/images/chalenjer.webp");
}
.login-bg {
	background-image: url("/assets/images/nody-دانلود-عکس-مرسدس-بنز-با-بهترین-کیفیت-1721250146.webp");
	background-repeat: no-repeat;
	background-size: cover;
}
.bg-baner {
	background-image: url("/assets/images/products/عکس-تویوتا-gr-supra.webp");
	background-repeat: no-repeat;
	background-size: cover;
}
body {
	overflow-x: hidden;
}

.vertical-scroll-rtl::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

.vertical-scroll-rtl::-webkit-scrollbar-track {
	background: #1f2937;
}

.vertical-scroll-rtl::-webkit-scrollbar-thumb {
	background: rgb(172, 172, 172);
	border-radius: 8px;
}

.vertical-scroll-rtl::-webkit-scrollbar-thumb:hover {
	background: #6b7280;
}
.bmw-swiper .swiper,
.bmw-swiper .swiper-wrapper {
	direction: ltr !important;
}
