@import "tailwindcss";

* {
	direction: rtl;
	font-family: "Vazir";
}

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}
@theme {
	--color-primary: #7c00a0;
	--color-secondry: #8f57dc;
}

@font-face {
	font-family: "VazirBold";
	src: url("../../Public/assets/fonts/vazir/Vazir-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Vazir";
	src: url("../../public/assets/fonts/vazir/Vazir-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

.hevebg {
	background-image: url("../../public/assets/images/chalenjer.jpg");
}
.login-bg {
	background-image: url("/assets/images/nody-دانلود-عکس-مرسدس-بنز-با-بهترین-کیفیت-1721250146.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

body {
	overflow-x: hidden;
}
